<label class="reference_field-field" id="animal_parent_id_reference_field">
  <input type="hidden" class="foreign_type" id="animal_parent_type" value="Animal" pattern="Animal" />
  <input type="hidden" class="foreign_key" id="animal_parent_id" name="animal[parent_id]" value="2" />
  <button class="event_button" data-event="reference_field:find" for="reference_finder-trigger">探</button>
  <span class="banner_container">
    <span class="record_banner" data-model="Animal" data-record-id="2">ポチ</span>
  </span>
</label>
