<label class="reference_field-field" id="profile_profilable_id_reference_field">
  <input type="hidden" class="foreign_type" id="profile_profilable_type" name="profile[profilable_type]" value="Company" pattern="^Person|Animal|Company$" />
  <input type="hidden" class="foreign_key" id="profile_profilable_id" name="profile[profilable_id]" value="2" />
  <button class="event_button" data-event="reference_field:find" for="company_finder_container">探</button>
  <span class="banner_container">
    <span class="record_banner" data-model="Company" data-record-id="2">東北電力</span>
  </span>
</label>
