<%%- id = "search_finder-index-#{Time.now.to_i}" -%>
<h2>Search <%= plural_name %></h2>

<%%= search_form_for <%= class_name %>.ransack, format: :js, remote: true do |form| %>
  <%%= finder.ajax_target_field %>

  <!-- Example.
  <%%#= form.label :name_cont %>
  <%%#= form.text_field :name_cont %>
  -->

  <%%= form.submit %>
<%% end %>

<%%= finder.index_container %>
