require 'rails/generators/named_base'

module Rails
  module Generators
    class <%= class_name %>FinderGenerator < NamedBase
      include ResourceHelpers

      source_root File.expand_path("../templates", __FILE__)

      def create_view_files
        template "<%= view_file_path %>.html.erb", "app/views/#{controller_file_path}/finders/<%= view_file_path %>.html.erb"
      end

      hook_for :test_framework
<%- if options[:ajax] -%>
      hook_for :ajax, default: :ajax, in: :reference_field
<%- end -%>
    end
  end
end
