require 'rails_helper'

describe "<%= controller_name %>/ajax/_index" do
  before do
    assign(:<%= plural_name %>, <%= plural_name %>)
    render partial: "<%= controller_name %>/ajax/index"
  end

<%- case options[:fixture] -%>
<%- when "factory_bot" then -%>
  let(:<%= plural_name %>){ create_list(:<%= singular_name %>, 5) }
<%- when "double" then -%>
  let(:<%= plural_name %>){
    5.times.map{|n|
      double(
        "ActiveRecord::Base",
        model_name: ActiveModel::Name.new(nil, nil, "<%= class_name %>"),
        id: n,
        persisted?: true,
      ).extend(ActiveModel::Conversion)
    }
  }
<%- when "dummy_record" then -%>
  let(:<%= plural_name %>){ 5.times.map{|n| RecordBanner::DummyRecord.build(["<%= class_name %>", n]) } }
<%- end -%>

  it "renders a <%= plural_name %> list" do
    expect(rendered).to have_tag("ul"){
      with_tag("li", count: <%= plural_name %>.size)
      <%= plural_name %>.each do |<%= singular_name %>|
        with_tag("li"){
          with_tag(".event_button", with: {"data-event" => "reference_field:choice", "data-model" => "<%= class_name %>", "data-record-id" => <%= singular_name %>.id})
          with_tag(".record_banner", with: {"data-model" => "<%= class_name %>", "data-record-id" => <%= singular_name %>.id})
        }
      end
    }
  end
end
