require 'rails_helper'

describe "<%= controller_file_path %>/finders/_search" do
  before do
    render partial: "<%= controller_file_path %>/finders/search", locals: {finder: finder}
  end

  let(:finder){ SearchFinder.new(self, nil, "search") }

  it "renders a head" do
    expect(rendered).to have_tag("h2", text: "Search <%= plural_name %>")
  end

  it "renders a search form" do
    expect(rendered).to have_form("/<%= controller_file_path %>.js", "get"){
      with_hidden_field("ajax_target")

      # Example.
      # with_tag("label", with: {for: "q_name_cont"})
      # with_text_field("q[name_cont]")

      with_submit("<%= ::Ransack::Translate.word(:search) %>")
    }
  end

  it "renders an empty index container" do
    expect(rendered).to have_tag(".search_finder-index:empty")
  end
end
