.reference_field-field {
  display: inline-block;
  min-width: 15ex;
  border: 1px solid gray;
  background-color: white;

  &.current {
    border: 2px solid green;
  }

  .event_button[data-event='reference_field:find'] {
    padding: 0px 0.5ex;
  }

  .banner_container {
    padding: 2px 1ex;
  }

  .referenced, .unreferenced {
    color: gray;
    font-style: italic;
    font-size: small;
  }
}
