.modal_window-window.reference_field-finders {
  position: fixed;
  top: 10%;
  width: 600px;
  max-height: 80%;
  padding: 3px;
  background-color: #eeeeee;

  .event_button[data-event='reference_field:close'] {
    float: right;
  }

  & > .radio_button_tab {
    & > label[for] {
      min-width: 10ex;
    }
  }

  .reference_field-finder {
    .current {
      border: 2px solid lightgreen;
    }
  }
}
