require 'rails_helper'

describe "<%= controller_file_path %>/finders/_select_box" do
  before do
    render partial: "<%= controller_file_path %>/finders/select_box", locals: {finder: finder}
  end

  let(:finder){ SelectBoxFinder.new(self, nil, "select_box") }

  it "renders a head" do
    expect(rendered).to have_tag("h2", text: "Select box <%= plural_name %>")
  end

  it "renders a label" do
    expect(rendered).to have_tag("label", text: "<%= name.humanize %>")
  end

  it "renders a select tag" do
    expect(rendered).to have_tag("select")
  end

  it "renders a choice button" do
    expect(rendered).to have_tag(".event_button[for]", with: {"data-event" => "reference_field:choice"})
  end
end
