<%= render "skip_animation" %>

<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.reference_label(:profilable) %>
    <%= form.reference_field(:profilable, for: "people_and_companies", required: true, banner_proc: proc{|record| record_banner(record){|r| r.name } }) %>
  </div>

  <div class="field">
    <%= form.label :disription %>
    <%= form.text_area :disription %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= reference_finder "people_and_companies" do |x|
  x.finder("select_box")
  x.finder("search:people")
  x.finder("list:people")
  x.finder("list:companies") do %>
    <h2>List companies</h2>
    <ul>
    <%- Company.all.each do |record| -%>
      <li>
        <%= choice_button(record) %>
        <%= record_banner(record, &:name) %>
      </li>
    <%- end -%>
    </ul>
  <% end
end %>
