<%= render "skip_animation" %>

<h1>Search Profiles</h1>

<%= search_form_for Profile.ransack do |form| %>

  <div class="field">
    <%= form.reference_label :profilable %>
    <%= form.reference_field :profilable, for: "people_and_companies" %>
  </div>

  <%= form.submit %>
<% end %>

<%= reference_finder "people_and_companies" do |x|
  x.finder("select_box")
  x.finder("list:people")
  x.finder("list:companies") do %>
    <h2>List companies</h2>
    <ul>
    <%- Company.all.each do |record| -%>
      <li>
        <%= choice_button(record) %>
        <%= record_banner(record, &:name) %>
      </li>
    <%- end -%>
    </ul>
  <% end
end %>

<%= link_to 'Back', profiles_path %>
