<p id="notice"><%= notice %></p>

<p>
  <strong>Profilable:</strong>
  <%= record_banner(@profile.profilable, &:name) %>
</p>

<p>
  <strong>Disription:</strong>
  <pre><%= @profile.disription %></pre>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
