class window.<%= js_class_name %>Finder extends ReferenceField.Finder

  choice: (button, func)->
    # func(type: foreignType, id: foreignKey, banner: banner)

  beforeActivation: (field)->
    super(field)
