<h2><%= Person.model_name.human %>を検索</h2>

<%= search_form_for Person.ransack, format: :js, remote: true do |form| %>
  <%= finder.ajax_target_field %>

  <%= form.label :name_cont %>
  <%= form.text_field :name_cont %>
  <%= form.reference_label :parent, for_prefix: "search_finder_p_parent" %>
  <%= form.reference_field :parent, id_prefix: "search_finder_p_parent" %>

  <%= form.submit %>
<% end %>

<%= finder.index_container %>
