<ul id="animal_list">
  <li>
    <button class="event_button" data-event="reference_field:choice" data-model="Animal" data-record-id="1">決定</button>
    <span class="record_banner" data-model="Animal" data-record-id="1">イヌ</span>
  </li>
  <li>
    <button class="event_button" data-event="reference_field:choice" data-model="Animal" data-record-id="2">決定</button>
    <span class="record_banner" data-model="Animal" data-record-id="2">ネコ</span>
  </li>
  <li>
    <button class="event_button" data-event="reference_field:choice" data-model="Animal" data-record-id="3">決定</button>
    <span class="record_banner" data-model="Animal" data-record-id="3">ウマ</span>
  </li>
</ul>
