<input type="checkbox" class="modal_window-trigger" id="reference_finder-trigger" />
<div class="modal_window-overlay" id="reference_finder-overlay">
  <label for="reference_finder-trigger"></label>
  <div class="modal_window-window reference_field-finders" id="reference_finder-window">
    <button class="event_button" data-event="reference_field:close" for="reference_finder-trigger">&#x2716;</button>
    <div class="radio_button_tab" id="reference_finder_tab">
      <button class="event_button" data-event="reference_field:dereference" data-banner="<span class='unreferenced'>※未参照</span>">参照解除</button>
      <input type="radio" name="reference_finder[tab]" id="reference_finder_tab-foo-tab" class="reference_field-finder" data-finder="foo" checked="checked" />
      <input type="radio" name="reference_finder[tab]" id="reference_finder_tab-bar-tab" class="reference_field-finder" data-finder="bar" />
      <input type="radio" name="reference_finder[tab]" id="reference_finder_tab-baz-tab" class="reference_field-finder" data-finder="baz" />
      <menu>
        <label for="reference_finder_tab-foo-tab" class="reference_field-finder" data-finder="foo">ファインダー1</label>
        <label for="reference_finder_tab-bar-tab" class="reference_field-finder" data-finder="bar">ファインダー2</label>
        <label for="reference_finder_tab-baz-tab" class="reference_field-finder" data-finder="baz">ファインダー3</label>
      </menu>
      <section id="reference_finder_tab-foo-content" class="reference_field-finder" data-finder="foo"></section>
      <section id="reference_finder_tab-bar-content" class="reference_field-finder" data-finder="bar"></section>
      <section id="reference_finder_tab-baz-content" class="reference_field-finder" data-finder="baz"></section>
    </div>
  </div>
</div>
