/* TODO: Jasmineからコンパイル済みのSCSSを読み込む方法がわかったらこのファイルを削除 */

/* https://kuzlog.com/2018/01/21/2413/ */
/* Jasmineではアニメーションがうまくテストできない */
input.modal_window-trigger {
  display: none;
}
input.modal_window-trigger:not(:checked) + .modal_window-overlay {
  display: none;
}
