/* TODO: Jasmineからコンパイル済みのSCSSを読み込む方法がわかったらこのファイルを削除 */
.radio_button_tab > input[type='radio'] {
  display: none;
}

#reference_finder_tab-foo-tab:not(:checked) ~ #reference_finder_tab-foo-content { display: none; }
#reference_finder_tab-bar-tab:not(:checked) ~ #reference_finder_tab-bar-content { display: none; }
#reference_finder_tab-baz-tab:not(:checked) ~ #reference_finder_tab-baz-content { display: none; }
