require 'rails_helper'

describe "application/finders/<%= view_file_path %>" do
  before do
    render partial: "application/finders/<%= file_path %>", locals: {finder: finder}
  end

  let(:finder){ <%= class_name %>Finder.new(self, nil, "<%= file_path %>") }

  it "renders a head" do
    expect(rendered).to have_tag("h2", text: "<%= name.humanize %>")
  end
end
