<%= render "skip_animation" %>

<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.reference_label(:parent) %>
    <%= form.reference_field(:parent, self_referencing: false, banner_proc: proc{|record| record_banner(record){|r| r.name } }) %>
  </div>

  <fieldset>
    <legend>Friends</legend>
    <%= form.collection_reference_field(:friends, self_referencing: false, banner_proc: proc{|record| record_banner(record){|r| r.name } }) %>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= reference_finder "people" do |x|
  x.finder("list:people")
  x.finder("search:people")
  x.finder("foo"){ "foofoofoofoofoo" }
  x.finder("bar"){ "barbarbarbarbar" }
  x.finder("baz")
end %>
