<p id="notice"><%= notice %></p>

<h1>People</h1>

<%= paginate @people %>
<div class="page_entries_info"><%= page_entries_info @people %></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th>Friends</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= link_to person.parent.name, person.parent if person.parent_id %></td>
        <td>
<%- person.friends.each do |friend| -%>
          <%= link_to friend.name, friend %>
<%- end -%>
        </td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
<%= link_to 'Search People', search_people_path %>
