<%= render "skip_animation" %>

<h1>Search People</h1>

<%= search_form_for Person.ransack do |form| %>

  <div class="field">
    <%= form.label :name_cont %>
    <%= form.text_field :name_cont %>
  </div>

  <div class="field">
    <%= form.reference_label :parent %>
    <%= form.reference_field :parent %>
  </div>

  <div class="field">
    <%= form.reference_label :children %>
    <%= form.collection_reference_field :children %>
  </div>

  <div class="field">
    <%= form.reference_label :friends %>
    <%= form.collection_reference_field :friends %>
  </div>

  <%= form.submit %>
<% end %>

<%= reference_finder "people" do |x|
  x.finder("list:people")
  x.finder("search:people")
end %>

<%= link_to 'Back', people_path %>
