<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= link_to @person.parent.name, @person.parent if @person.parent_id %>
</p>

<p>
  <strong>Friends:</strong>
<%- @person.friends.each do |friend| -%>
  <%= link_to friend.name, friend %>
<%- end -%>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
