<h2>Select box people and companies</h2>

<%= finder.select_label [Person, Company].map{|model| model.model_name.human }.join(",") %>
<%= finder.select (Person.all + Company.all).shuffle, proc{|record| "[#{record.model_name.human}] #{record.name}" } do |record| -%>
  <%= record_banner(record, &:name) %>
<% end %>

<%= choice_button for: finder.unique_id %>
