<%= paginate @people, format: :js, remote: true %>
<div class="page_entries_info"><%= page_entries_info @people %></div>

<ul>
<%- @people.map do |person| -%>
  <li>
    <%= choice_button(person) %>
    <%= record_banner(person, &:name) %>
  </li>
<%- end -%>
</ul>
