require 'rails_helper'

feature "rails generate <%= command_name %>" do
  before do
    Dir.chdir(Rails.root)
    remove_files
    `rails generate <%= command_name %> <%= options[:test_argument] %> <%= command_options.join(" ") %> --test-framework=rspec`
  end

  after do
    remove_files
  end

  def remove_files
    FileUtils.rm_r([
      "app/views/<%= options[:test_argument].slice(/^[^\/]+/) %>",
      "spec/views/<%= options[:test_argument].slice(/^[^\/]+/) %>",
    ]) rescue Errno::ENOENT
  end

  let(:app_files){
    [
      "app/views/<%= options[:test_argument].tableize %>/finders/<%= view_file_path %>.html.erb",
<%- if options[:ajax] -%>
      "app/views/<%= options[:test_argument].tableize %>/ajax/_index.html.erb",
<%- end -%>
    ]
  }

  let(:spec_files){
    [
      "spec/views/<%= options[:test_argument].tableize %>/finders/<%= view_file_path %>.html.erb_spec.rb",
<%- if options[:ajax] -%>
      "spec/views/<%= options[:test_argument].tableize %>/ajax/_index.html.erb_spec.rb",
<%- end -%>
    ]
  }

  let(:generated_files){ app_files + spec_files }

  scenario "generate files" do
    generated_files.each do |path|
      expect(File).to be_exist(path)
    end
  end

  feature "run generated tests" do
    scenario "test succeeds" do
      stdout = `rspec #{spec_files.join(" ")}`
      expect(stdout).not_to match(/\b0 examples/)
      expect(stdout).to match(/\b0 failures/)
    end
  end

  feature "run destroy command" do
    before do
      `rails destroy <%= command_name %> <%= options[:test_argument] %> --test-framework=rspec`
    end

    scenario "destroy files" do
      generated_files.each do |path|
        expect(File).not_to be_exist(path)
      end
    end
  end
end
