require 'generators/rspec'

module Rspec
  module Generators
    class <%= class_name %>FinderGenerator < Base
      include Rails::Generators::ResourceHelpers

      source_root File.expand_path("../templates", __FILE__)

      def create_view_spec_file
        template "<%= view_file_path %>.html.erb_spec.rb.erb", "spec/views/#{controller_file_path}/finders/<%= view_file_path %>.html.erb_spec.rb"
      end
    end
  end
end
