Array.prototype.forEach.call(document.querySelectorAll("<%= @ajax_target || params.require(:ajax_target) %>"), function(elm) {
  elm.innerHTML = "<%== j(@html || render(partial: "#{params[:controller]}/ajax/index")) %>";
});
