require 'rails_helper'

describe "<%= controller_name %>/finders/finder_container" do
  before do
    render partial: "<%= controller_name %>/finders/finder_container"
  end

  it "renders a finder container" do
    expect(rendered).to have_tag(".reference_field-finders#<%= controller_name.gsub("/", "_") %>-window"){
<%- _finders.each do |finder| -%>
      with_tag(".reference_field-finder", with: {"data-finder" => "<%= finder.name %>"}, text: "<%= finder.name.humanize %>")
<%- end -%>
    }
  end
end
