<h2>Select box <%= plural_name %></h2>

<%%= finder.select_label <%= class_name %>.model_name.human %>
<%%= finder.select <%= class_name %>.all, :inspect do |record| -%>
  <%%= record_banner(record) %>
<%% end %>

<%%= choice_button(for: finder.unique_id) %>
