require 'rails_helper'

describe "<%%= controller_file_path %>/finders/<%= view_file_path %>" do
  before do
    render partial: "<%%= controller_file_path %>/finders/<%= file_path %>", locals: {finder: finder}
  end

  let(:finder){ <%= class_name %>Finder.new(self, nil, "<%= file_path %>") }

  it "renders a head" do
    expect(rendered).to have_tag("h2", text: "<%= name.humanize %> <%%= plural_name %>")
  end
end
